html,body { margin: 0; font-family: monospace; }
#body { margin: 16px 10%; }
#body article { border-bottom: 1px solid #060606; }
#body article:last { border-bottom: none; }

#header {
        background-color: #060606;
        color: #67ff79;
        border-bottom: 4px solid #23ed9b;
        line-height: 2em;
        margin: 0;
        padding: 8px 10%;
}
#header > nav { display: inline-block; float: right; }
#header > nav > a:link { color: #81b7ff }
#header > nav > a:visited { color: #cd78f4; }
#header > nav > a:focus, #header > nav > a:active, #header > nav > a:hover { color: #6005dd; }
#header > .title { display: inline-block; font-size: 1.5em; text-decoration: none; }
#header > a.title:link, 
  #header > a.title:visited, 
  #header > a.title:hover,
  #header > a.title:focus,
  #header > a.title:active { 
  color:inherit; text-decoration: none; 
}
#footer {
  font-size: 0.5em;
  float:right;
}

code {
  font-family: monospace;
  background-color: #eee;
  padding: 4px 4px;
  border-radius: 5px 5px;
  display: inline-block;
}
code.inline {
  display: inline;
  padding: 2px 2px;
}
